# --- Binarios y Compilados ---
*.class
out/
bin/
build/
target/

# --- IDEs (VS Code / IntelliJ) ---
.idea/
*.iml

# --- Sistema (Windows / Linux) ---
desktop.ini
Thumbs.db
.directory

# --- Seguridad ---
.env